<!DOCTYPE html>
<html lang="{{ conf.lang }}" dir="{{ lang.direction }}">
<head>
    <meta charset="utf-8"/>
    <title>{{ TPL.tpl_pagetitle() }} [{{ conf.title|striptags }}]</title>

    {{ TPL.tpl_metaheaders|raw }}

    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    {{ TPL.tpl_favicon(['favicon', 'mobile'])|raw }}
</head>

<body>
<div id="dokuwiki__top" class="{{ TPL.tpl_classes() }}">

    <header>
        {% set logo = TPL.tpl_getMediaFile([':wiki:logo.png', ':logo.png', ':wiki:dokuwiki-128.png']) %}
        <a href="{{ TPL.wl() }}"><img src="{{ logo }}"/></a>


        <h1>{{ conf.title|raw }}</h1>
        {% if conf.tagline %}<h2>{{ conf.tagline }}</h2>{% endif %}

        {{ TPL.menu('mobile').getDropdown(lang.tools)|raw }}
        {{ TPL.tpl_searchform()|raw }}
    </header>

    <aside>
        <ul>
            {{ TPL.menu('user').getListItems('action ')|raw }}
            {{ TPL.menu('site').getListItems('action ')|raw }}
            {% if TPL.view == 'detail' %}
                {{ TPL.menu('detail').getListItems('action ')|raw }}
            {% else %}
                {{ TPL.menu('page').getListItems('action ')|raw }}
            {% endif %}

        </ul>
    </aside>

    {% if TPL.page_findnearest(conf.sidebar) and ACT == 'show' %}
        <nav>
            {{ TPL.tpl_include_page(conf.sidebar, true, true)|raw }}
        </nav>
    {% endif %}

    <main>
        {{ TPL.html_msgarea()|raw }}

        <article>
            {% block content %}
            {% endblock %}
        </article>

        {{ TPL.tpl_pageinfo()|raw }}
    </main>

    <footer>
        {{ TPL.tpl_license('')|raw }}
    </footer>
</div>

<div class="no">{{ TPL.tpl_indexerWebBug()|raw }}</div>
</body>
